* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.webgl {
  position: fixed;
  width: 50vw;
  height: 50vh;
  top: 0;
  left: 0;
  outline: none;
  display: block;
}

@media (min-width: 600px) {
.webgl {
  width: 50vw;
  height: 90vh;
}
  
}